# Simple Linear Regrassion

#import the necessary libraries given below

In [108]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score

Load the Dataset using pd.read_csv

In [109]:
df=pd.read_csv('Experience-Salary.csv')

In [110]:
df.head()

   exp(in months)  salary(in thousands)
0       18.290293             16.521825
1       17.023407             11.666234
2       26.343613             23.167255
3       19.105834             20.877145
4       27.742516             23.166236

See is any null value is pesent in the dataset?

In [111]:
df.isnull().sum()

exp(in months)          0
salary(in thousands)    0
dtype: int64

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   exp(in months)        1000 non-null   float64
 1   salary(in thousands)  1000 non-null   float64
dtypes: float64(2)
memory usage: 15.8 KB

#Divide the dataset in x & y

In [113]:
x=df.iloc[:,0:1]
y=df.iloc[:,-1]

#Train the X & Y by giving test size 0.2

In [114]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

#Loading the LinearRegression Modal

In [115]:
lr=LinearRegression()

#Fitting the trained data in the LinearRegression

In [116]:
lr.fit(x_train,y_train)

LinearRegression()

#Predic the trained model by using X_test

In [117]:
predic=lr.predict(x_test)

In [118]:
cutoff = 0.7                              
predic_classes = np.zeros_like(predic)    
predic_classes[predic > cutoff] = 1

In [119]:
y_test_classes = np.zeros_like(predic)
y_test_classes[y_test > cutoff] = 1

In [122]:
accuracy_score(y_test_classes, predic_classes)*100

100.0

The Accuracy score is 100%